<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appName</key>
		<string>Live Wetter Pro</string>
		<key>appDescribe</key>
		<string>15 Tage Wettervorhersage kostenlos anzeigen. Pro-Version pur ohne Werbung.</string>
		<key>appBundleID</key>
		<string>Bee.liveWeatherPro.app</string>
		<key>appID</key>
		<string>1437256011</string>
		<key>appImage</key>
		<string>liveWeather</string>
		<key>appIsPro</key>
		<true/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
		<key>bSupportSubs</key>
		<true/>
		<key>subsColors</key>
		<array>
			<string>#1E80FF</string>
			<string>#32C8FE</string>
		</array>
	</dict>
	<dict>
		<key>appName</key>
		<string>Live Wetter</string>
		<key>appDescribe</key>
		<string>Live Wetter liefert genaue Wettervorhersagen auf der ganzen Welt.</string>
		<key>appBundleID</key>
		<string>Bee.liveWeather.app</string>
		<key>appID</key>
		<string>1406209692</string>
		<key>appImage</key>
		<string>liveWeather</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
		<key>bSupportSubs</key>
		<true/>
		<key>subsColors</key>
		<array>
			<string>#1E80FF</string>
			<string>#32C8FE</string>
		</array>
	</dict>
	<dict>
		<key>appName</key>
		<string>Wetter Radar</string>
		<key>appDescribe</key>
		<string>Autorisierende Radarkartenabdeckung
Weather tracking</string>
		<key>appBundleID</key>
		<string>Com.BeeApp.MapWeather</string>
		<key>appID</key>
		<string>1449693594</string>
		<key>appImage</key>
		<string>mapWeather</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
		<key>bSupportSubs</key>
		<true/>
		<key>subsColors</key>
		<array>
			<string>#FFD321</string>
			<string>#FDB445</string>
		</array>
	</dict>
	<dict>
		<key>appName</key>
		<string>OfflineMusic</string>
		<key>appDescribe</key>
		<string>Laden Sie ganz einfach Musik aus den Clouds auf Ihr Gerät herunter und spielen Sie offline.</string>
		<key>appBundleID</key>
		<string>BeeApp.OfflineCloudMusic.en</string>
		<key>appID</key>
		<string>1399352160</string>
		<key>appImage</key>
		<string>music</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>Scanner</string>
		<key>appDescribe</key>
		<string>Das einfachste und am einfachsten zu verwendende Fotoerfassungs-Artefakt.</string>
		<key>appBundleID</key>
		<string>BeeApp.Scanner.OCR</string>
		<key>appID</key>
		<string>1435757309</string>
		<key>appImage</key>
		<string>ocr</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
	</dict>
</array>
</plist>
