<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appName</key>
		<string>實況天氣Pro</string>
		<key>appDescribe</key>
		<string>精準15日天氣預報與降雨預報，無廣告版本</string>
		<key>appBundleID</key>
		<string>Bee.liveWeatherPro.app</string>
		<key>appID</key>
		<string>1437256011</string>
		<key>appImage</key>
		<string>liveWeather</string>
		<key>appIsPro</key>
		<true/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
		<key>bSupportSubs</key>
		<true/>
		<key>subsColors</key>
		<array>
			<string>#1E80FF</string>
			<string>#32C8FE</string>
		</array>
	</dict>
	<dict>
		<key>appName</key>
		<string>實況天氣</string>
		<key>appDescribe</key>
		<string>15天預報空氣質量和天氣實況精準查詢</string>
		<key>appBundleID</key>
		<string>Bee.liveWeather.app</string>
		<key>appID</key>
		<string>1406209692</string>
		<key>appImage</key>
		<string>liveWeather</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
		<key>bSupportSubs</key>
		<true/>
		<key>subsColors</key>
		<array>
			<string>#1E80FF</string>
			<string>#32C8FE</string>
		</array>
	</dict>
	<dict>
		<key>appName</key>
		<string>天氣雷達</string>
		<key>appDescribe</key>
		<string>權威雷達圖覆蓋
天氣實時追踪</string>
		<key>appBundleID</key>
		<string>Com.BeeApp.MapWeather</string>
		<key>appID</key>
		<string>1449693594</string>
		<key>appImage</key>
		<string>mapWeather</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
		<key>bSupportSubs</key>
		<true/>
		<key>subsColors</key>
		<array>
			<string>#FFD321</string>
			<string>#FDB445</string>
		</array>
	</dict>
	<dict>
		<key>appName</key>
		<string>音樂播放器</string>
		<key>appDescribe</key>
		<string>離線手機雲音樂播放器</string>
		<key>appBundleID</key>
		<string>BeeApp.OfflineCloudMusic.en</string>
		<key>appID</key>
		<string>1399352160</string>
		<key>appImage</key>
		<string>music</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>Scanner</string>
		<key>appDescribe</key>
		<string>高清快速掃描文件，智能OCR文本識別</string>
		<key>appBundleID</key>
		<string>BeeApp.Scanner.OCR</string>
		<key>appID</key>
		<string>1435757309</string>
		<key>appImage</key>
		<string>ocr</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
	</dict>
</array>
</plist>
