<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appName</key>
		<string>实况天气Pro</string>
		<key>appDescribe</key>
		<string>精准15日天气预报与降雨预报，无广告版本</string>
		<key>appBundleId</key>
		<string>Bee.liveWeatherPro.app</string>
		<key>appId</key>
		<string>1437256011</string>
		<key>appImage</key>
		<string>liveWeather</string>
		<key>appIsPro</key>
		<true/>
	</dict>
	<dict>
		<key>appName</key>
		<string>实况天气</string>
		<key>appDescribe</key>
		<string>15天预报空气质量和天气实况精准查询</string>
		<key>appBundleId</key>
		<string>Bee.liveWeather.app</string>
		<key>appId</key>
		<string>1406209692</string>
		<key>appImage</key>
		<string>liveWeather</string>
		<key>appIsPro</key>
		<false/>
	</dict>
	<dict>
		<key>appName</key>
		<string>天气雷达</string>
		<key>appDescribe</key>
		<string>权威雷达图覆盖
天气实时追踪</string>
		<key>appBundleId</key>
		<string>Com.BeeApp.MapWeather</string>
		<key>appId</key>
		<string>1449693594</string>
		<key>appImage</key>
		<string>mapWeather</string>
		<key>appIsPro</key>
		<false/>
	</dict>
	<dict>
		<key>appName</key>
		<string>音乐播放器</string>
		<key>appDescribe</key>
		<string>离线手机云音乐播放器</string>
		<key>appBundleId</key>
		<string>BeeApp.OfflineCloudMusic.en</string>
		<key>appId</key>
		<string>1399352160</string>
		<key>appImage</key>
		<string>music</string>
		<key>appIsPro</key>
		<false/>
	</dict>
	<dict>
		<key>appName</key>
		<string>全能扫描仪</string>
		<key>appDescribe</key>
		<string>高清快速扫描文件，智能OCR文本识别</string>
		<key>appBundleId</key>
		<string>BeeApp.Scanner.OCR</string>
		<key>appId</key>
		<string>1435757309</string>
		<key>appImage</key>
		<string>ocr</string>
		<key>appIsPro</key>
		<false/>
	</dict>
</array>
</plist>
