<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appName</key>
		<string>Live Weather Pro</string>
		<key>appDescribe</key>
		<string>free to view 15 days weather forecast.Pro version pure without ads.</string>
		<key>appBundleId</key>
		<string>Bee.liveWeatherPro.app</string>
		<key>appId</key>
		<string>1437256011</string>
		<key>appImage</key>
		<string>liveWeather</string>
		<key>appIsPro</key>
		<true/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
		<key>bSupportSubs</key>
		<true/>
		<key>subsColors</key>
		<array>
			<string>#1E80FF</string>
			<string>#32C8FE</string>
		</array>
	</dict>
	<dict>
		<key>appName</key>
		<string>Live Weather</string>
		<key>appDescribe</key>
		<string>Live weather provides accurate weather forecasts around the world.</string>
		<key>appBundleId</key>
		<string>Bee.liveWeather.app</string>
		<key>appId</key>
		<string>1406209692</string>
		<key>appImage</key>
		<string>liveWeather</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
		<key>bSupportSubs</key>
		<true/>
		<key>subsColors</key>
		<array>
			<string>#1E80FF</string>
			<string>#32C8FE</string>
		</array>
	</dict>
	<dict>
		<key>appName</key>
		<string>Weather Radar</string>
		<key>appDescribe</key>
		<string>Authoritative radar map coverage
Weather tracking</string>
		<key>appBundleId</key>
		<string>Com.BeeApp.MapWeather</string>
		<key>appId</key>
		<string>1449693594</string>
		<key>appImage</key>
		<string>mapWeather</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
		<key>bSupportSubs</key>
		<true/>
		<key>subsColors</key>
		<array>
			<string>#FFD321</string>
			<string>#FDB445</string>
		</array>
	</dict>
	<dict>
		<key>appName</key>
		<string>offline music</string>
		<key>appDescribe</key>
		<string>Easily download music from clouds to your device and play offline.</string>
		<key>appBundleId</key>
		<string>BeeApp.OfflineCloudMusic.en</string>
		<key>appId</key>
		<string>1399352160</string>
		<key>appImage</key>
		<string>music</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>Scanner</string>
		<key>appDescribe</key>
		<string>The easiest and most easy to use photo capture artifact.</string>
		<key>appBundleId</key>
		<string>BeeApp.Scanner.OCR</string>
		<key>appId</key>
		<string>1435757309</string>
		<key>appImage</key>
		<string>ocr</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
	</dict>
</array>
</plist>
