<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appName</key>
		<string>LIveПогода Pro</string>
		<key>appDescribe</key>
		<string>бесплатно просматривать прогноз погоды на 15 дней. Версия Pro чисто без рекламы.</string>
		<key>appBundleID</key>
		<string>Bee.liveWeatherPro.app</string>
		<key>appID</key>
		<string>1437256011</string>
		<key>appImage</key>
		<string>liveWeather</string>
		<key>appIsPro</key>
		<true/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
		<key>bSupportSubs</key>
		<true/>
		<key>subsColors</key>
		<array>
			<string>#1E80FF</string>
			<string>#32C8FE</string>
		</array>
	</dict>
	<dict>
		<key>appName</key>
		<string>погода Живая</string>
		<key>appDescribe</key>
		<string>Живая погода обеспечивает точные прогнозы погоды по всему миру.</string>
		<key>appBundleID</key>
		<string>Bee.liveWeather.app</string>
		<key>appID</key>
		<string>1406209692</string>
		<key>appImage</key>
		<string>liveWeather</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
		<key>bSupportSubs</key>
		<true/>
		<key>subsColors</key>
		<array>
			<string>#1E80FF</string>
			<string>#32C8FE</string>
		</array>
	</dict>
	<dict>
		<key>appName</key>
		<string>Weather Radar</string>
		<key>appDescribe</key>
		<string>Официальное покрытие радиолокационной карты
Weather tracking</string>
		<key>appBundleID</key>
		<string>Com.BeeApp.MapWeather</string>
		<key>appID</key>
		<string>1449693594</string>
		<key>appImage</key>
		<string>mapWeather</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
		<key>bSupportSubs</key>
		<true/>
		<key>subsColors</key>
		<array>
			<string>#FFD321</string>
			<string>#FDB445</string>
		</array>
	</dict>
	<dict>
		<key>appName</key>
		<string>offline music</string>
		<key>appDescribe</key>
		<string>Легко загружайте музыку из облаков на свое устройство и играйте в автономном режиме.</string>
		<key>appBundleID</key>
		<string>BeeApp.OfflineCloudMusic.en</string>
		<key>appID</key>
		<string>1399352160</string>
		<key>appImage</key>
		<string>music</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>Scanner</string>
		<key>appDescribe</key>
		<string>Самый простой и удобный в использовании артефакт захвата фотографий.</string>
		<key>appBundleID</key>
		<string>BeeApp.Scanner.OCR</string>
		<key>appID</key>
		<string>1435757309</string>
		<key>appImage</key>
		<string>ocr</string>
		<key>appIsPro</key>
		<false/>
		<key>teamID</key>
		<string>PUA574JL8C</string>
	</dict>
</array>
</plist>
